.modal {
  position: absolute;
  background: white;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  box-shadow: 0 0px 21px 0px #0000002b;
}

li.todo {
  width: 22rem;
  list-style-type: none;
  border-bottom: 1px solid #0000001f;
}

li.todo .title {
  font-weight: bold;
}
